{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load i18n %}
<div class="col-9 gy-4 mb-5">
    <div class="details">
        <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="header">
            <h2>{{ form.name }}</h2>
        </div>
        <label for="id_event_dates" class="form-label">{% trans 'Event dates:' %}</label>
        <div class="input-group mb-3" id="id_event_dates">
            {{ form.start_date }}
            <span class="input-group-text">-</span>
            {{ form.end_date }}
          </div>
          <div class="col-2 mb-2  select_field">
            <label for="id_tag" class="form-label">{% trans 'Select from existing tags:' %}</label>
            {{ form.tag }}
            <p><span class="bi bi-plus-lg"></span><a href="">{% trans 'Or add new one' %}</a></p>
        </div>
        <div class="mb-2">
            <label for="id_details" class="form-label">{% trans 'Add details:' %}</label><br>
            {{ form.details }}
        </div>
        <div class="col-2 mb-2  select_field">
            <label for="id_places" class="form-label">{% trans 'Add places' %}</label>
            {{ form.places }}
        </div>
        
        <a href="{% url 'event_details' pk=event.pk %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
        <button type="submit" class="save btn btn-primary">{% trans 'Save' %}</button>
        </form>
    </div>
</div>

</div>
</div>
{% endblock %}