{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Travels App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}">
</head>
<body> 
    <div class="page-header">
        <h1>Our Travels</h1>
    </div>
    <h2>Yeah, I know, it's a bug</h2>
</body>
</html>