{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-9 gy-4 mb-5">
    <div class="details">
        <div class="header">
            <h2>{{ list.name }}</h2>
            <a href="{% url 'edit_list_name' pk=list.pk %}" class="button d-flex align-items-center"><span class="bi bi-pencil"></span></a>
            <a href="{% url 'delete_list' pk=list.pk  %}" class="button delete-button d-flex align-items-center"><span class="bi bi-trash"></span></a>
        </div>
        <div class="list">
            {% for item in items %}
            <div class="row">
                {% if form_edit and item == edit_item %}
                <form method="POST" class="post-form">
                    {{ form_edit.item_done }} {{ form_edit.name}}
                    {% csrf_token %}
                    <button type="submit" name="edit-button" class="button"><span class="bi bi-check"></span></button>
                </form>
                {% else %}
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="item_{{ forloop.counter }}" {% if item.item_done %}checked{% endif %}>
                        <label class="form-check-label" for="item_{{ forloop.counter }}">{{ item.name }}</label>
                    </div>
                </div>
                <div class="col-1">
                    <a href="{% url 'list_edit_item' pk=list.pk  item_to_edit=item.pk %}" class="button d-flex align-items-center"><span class="bi bi-pencil"></span></a>
                </div>
                <div class="col-1">
                    <a href="{% url 'delete_item' pk=item.pk  %}" class="button delete-button d-flex align-items-center"><span class="bi bi-trash"></span></a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <div class="row">
                    <div class="col">
                        <div class="form-check d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" value="" id="id_item_done" name="item_done">
                            <input type="text" name="name" maxlength="100" required="" id="id_name" class="form-control m-1">
                        </div>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        <button type="submit" name="save-button" class="save btn btn-primary icon-button"><span class="bi bi-check"></span></button>
                    </div>
                </div>
                </form>
        </div>
    </div>
</div>
{% endblock %}