{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
    <h2>Places we visited in 2022</h2>
    <a href="{% url 'place_new' %}" class="top-menu-add"><span class="glyphicon glyphicon-plus"></span></a>
    {{ my_travels|json_script:"my-travels-data" }}
    <div id="map"></div>
    <script src="{% static 'map.js' %}"></script>
    {% else %}
    <h2>You're not authorised to view this page. Click <a href="{% url 'login' %}">here</a> to log in</h2>
    {% endif %}           
{% endblock %}