{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load i18n %}
<div class="col-9 gy-4 mb-5">
    <div class="details">
        <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="header">
            <h2>{{ form.name }}</h2>
        </div>
        
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="id_group_check" name="group_check" {% if group_elem %} checked {% endif %}>
            <label class="form-check-label" for="group_check">{% trans 'Visited' %}</label>
          </div>
        <div class="mb-2">
            {% if tags %}
            {% for tag in tags %}<button type="button" class="btn btn-primary m-1"
                href="{% url 'places_tag' tag_id=tag.pk %}">{{ tag.tag }}</button>{% endfor %}
            {% endif %}
        </div>
        <div class="col-2 mb-2 date_field">
            <label for="id_visit_date" class="form-label">{% trans 'Visits date:' %}</label>
            {{ form.visit_date }}
        </div>
        <div class="col-2 mb-2  select_field">
            <label for="id_tag" class="form-label">{% trans 'Select from existing tags:' %}</label>
            {{ form.tag }}
            <p><span class="bi bi-plus-lg"></span><a href="{% url 'add_tag' pk=place.pk%}">{% trans 'Or add new one' %}</a></p>
        </div>
        <div class="mb-2">
            <label for="id_description" class="form-label">{% trans 'Edit places details' %}</label><br>
            {{ form.description }}
        </div>
        <div>{{ form.location }}</div>
        <a href="{% url 'place_detail' pk=place.pk %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
        <button type="submit" class="save btn btn-primary">{% trans 'Save' %}</button>
        </form>
    </div>
</div>

</div>
</div>
{% endblock %}