{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header">
    <a href="{% url 'place_detail' pk=place.pk %}" class="button back-button"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <h2>Place's details</h2>
</div>
    
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
    <br>
    <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <a href="{% url 'place_check_list_exists' pk=place.pk %}"class="save btn btn-default">Lists</a>
{% endblock %}