{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header">
    <h2>Places</h2>
</div>
<form action="{% url 'places_all' %}" method="get">
    <table id="id_list_table" class="table">
        <tr>
            <td>
                <input
                    type="search"
                    name="q"
                    placeholder="Search by name or tag"
                    class="form-control"
                />
            </td>
            <td>
                <button class="clear-button"><a href="{% url 'places_all' %}">Clear</a></button>
            </td>
        </tr>
    </table>
</form>
</br>
<div class="list">
{% if not places %}
    <p>No places found</p>
{% else %}
    <table id="id_list_table" class="table">
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Tags</th>
        </tr>
        {% for place in places %}
          <tr>
            <td><a href="{% url 'place_detail' pk=place.pk %}">{{ place.name }}</a></td>
            <td>{{ place.group }}</td>
            <td>{% for tag in place.tags %}{{ tag }}, {% endfor %}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %} 