{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header">
    <a href="{% url 'place_detail' pk=place.pk %}" class="button back-button"><span class="bi bi-chevron-compact-left"></span></a>
    <h2>Place's details</h2>
    <a href="{% url 'delete_place' pk=place.pk  %}" class="button delete-button"><span class="bi bi-trash"></span></a>
</div>
    <form method="POST" class="post-form">{% csrf_token %}
        <table id="place-edit-table" class="table">
            <tr>
                <td colspan="2"><strong>Name: </strong> {{ form.name }}</td>
            </tr>
            <tr>
                <td colspan="2"><strong>Date: </strong> {{ form.visit_date }}</td>
            </tr>
            <tr>
                <td colspan="2"><strong>Description: </strong>{{ form.description }}</td>
            </tr>
            <tr>
                <td colspan="2"><strong>Group: </strong>{{ form.group }}</td>
            </tr>
            <tr>
                <td><strong>Tags: </strong>{{ form.tag }}</td>
                <td><a href="{% url 'add_tag' pk=place.pk%}" class="button back-button"><span class="bi bi-plus-lg"></span></a></td>
            </tr>
            <tr>
                <td colspan="2"><a href="{% url 'place_check_list_exists' pk=place.pk %}">Lists</a></td>
            </tr>
            <tr>
                <td colspan="2">{{ form.location }}</td>
            </tr>
            <tr>
                <td><button type="submit" class="save btn btn-default">Save</button></td>
                <td><button type="submit" class="save btn btn-default"><a href="{% url 'delete_place' pk=place.pk  %}">Delete</a></button></td>
            </tr>
        </table>
    </form>
{% endblock %}