html,
body {
    height: 100%;

}

#map {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.header {
    display: flex;
}

.header a, .header h2 {
    display: flex;
    align-items: center;
}

.page-header{
    background-color: #ff00d2;
    margin: 0 0 0 0;
    padding: 1px 0px 0px 55px;
}

.top-menu {
    color: #ffffff;
    float: right;
    font-size: 15pt;
    margin-right: 30px;
    margin-top: -75px;
}

.top-menu a {
    font-family: 'Lobster';
    color: #ffffff;
    font-size: 18pt;
}

h1, h1 a {
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-size: 20pt;
    vertical-align: middle;
}

h2 {
    font-family: 'Lobster', cursive;
    color: #ff00d2;
    padding-left: 20px;
}

h3 {
    font-family: 'Lobster', cursive;
    color: #ff00d2;
}

form {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

#description {
    padding-left: 20px;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.button {
    margin-left: 30px;
    float: left;
}

.place, .list{
    margin-left: 30px;
    margin-right: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #faf6f6;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    padding: 8px;
  }

  .save-button, .clear-button {
    padding: 0;
    border: none;
    background: none;
  }

  #id_new_list_table td:nth-child(3){
    width: 70%
  }

  #id_new_list_table  #id_name, #id_list_table #id_name{
    width: 80%
  }

  #place-edit-table td:first-child{
    width: 150px
  }
