html,
body {
    height: 100%;

}

#map {
    width: 100%;
    height: 92%;
    vertical-align: middle;
}

.header {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
}

.page-header{
    background-color: #FF66C4;
    margin: 0 0 0 0;
    min-height: 70px;
    height: 8%;
}

.btn-header, .btn-header:hover, .btn-header.show, .btn-header:active, .btn-header.active{
    background-color: none;
    border-color: none;
    height: 70px;
    width: 70px;
}

.dropdown-icon {
    color: #ffffff;
}

h2, h3, h4 {
    font-family: 'Lobster', cursive;
    color: #FF66C4;
}

.details {
    padding-left: 20px;
}

.button {
    margin-left: 30px;
    float: left;
}


button a {
    color: #ffffff;
    text-decoration: none;
}

p a {
    text-decoration: none;
}

.date_field, .select_field {
    min-width: 150px;
}

.icon-button, .icon-button:hover {
    background-color: #ffffff;
    border-color: #ffffff;
}

.icon-button span {
    color: #0d6efd;
    font-size: large;
}

.date-field {
    width: 130px;
}

.calendar-row {
    height: 135px;
}

.event-button {
    width: 100%;
}

#id-calendar-day {
    margin: 0;
}