html,
body {
    height: 100%;

}

.main {
    margin-left: 30px;
    margin-right: 30px;
}

#map {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.header {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.header a, .header h2 {
    display: flex;
    align-items: center;
}

.page-header{
    background-color: #FF66C4;
    margin: 0 0 0 0;
    padding: 1px 0px 0px 55px;
}

h1, h1 a {
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-size: 20pt;
    vertical-align: middle;
}

h2 {
    font-family: 'Lobster', cursive;
    color: #FF66C4;
    padding-left: 20px;
}

h3 {
    font-family: 'Lobster', cursive;
    color: #FF66C4;
}

#description {
    padding-left: 20px;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.button {
    margin-left: 30px;
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #faf6f6;
  }

  .save-button, .clear-button {
    padding: 0;
    border: none;
    background: none;
  }

  #id_new_list_table td:nth-child(3){
    width: 70%
  }

  #id_new_list_table  #id_name, #id_list_table #id_name{
    width: 80%
  }

  #place-edit-table td:first-child{
    width: 150px
  }

.btn-header{
    background-color: #FF66C4;
    border-color: #FF66C4;
    height: 70px;
    width: 70px;
}

.btn-header:hover, .btn-header.show, .btn-header:active, .btn-header.active{
    background-color: #FF66C4;
    border-color: #FF66C4;
}

.dropdown-icon {
    color: #ffffff;
}

