{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load i18n %}
<div class="col-9 gy-4 mb-5">
    <div class="details">
        <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="header">
            <h2>{{ form.name }}</h2>
        </div>
        
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="id_group_check" name="group_check" {% if group_elem %} checked {% endif %}>
            <label class="form-check-label" for="group_check">{% trans 'Done' %}</label>
        </div>
        
        <label for="id_trip_dates" class="form-label">{% trans 'Trip dates:' %}</label>
        <div class="input-group mb-3" id="id_trip_dates">
            {{ form.start_date }}
            <span class="input-group-text">-</span>
            {{ form.end_date }}
          </div>
          <div class="col-2 mb-2  select_field">
            <label for="id_tag" class="form-label">{% trans 'Select from existing tags:' %}</label>
            {{ form.tag }}
            <p><span class="bi bi-plus-lg"></span><a href="{% url 'add_tag_for_trip' pk=trip.pk%}">{% trans 'Or add new one' %}</a></p>
        </div>
        <div class="mb-2">
            <label for="id_details" class="form-label">{% trans 'Trip details:' %}</label><br>
            {{ form.details }}
        </div>
        <div class="col-2 mb-2  select_field">
            <label for="id_places" class="form-label">{% trans 'Add places' %}</label>
            {{ form.places }}
            <!--<p><span class="bi bi-plus-lg"></span><a href="">Or add new one</a></p>-->
        </div>
        
        <a href="{% url 'trip_details' pk=trip.pk %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
        <button type="submit" class="save btn btn-primary">{% trans 'Save' %}</button>
        </form>
    </div>
</div>

</div>
</div>
{% endblock %}